################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/481e562f-835d-479a-b496-5d8e038fcc1e.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/14d157bf-f252-418a-90ee-62859e737443.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/1afb5c92-4d5d-4188-bc2d-93be18e08167.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/4c5172bd-3423-41e8-845f-b0b4f0d2a91e.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/aa390183-0875-40ca-98f7-41f6679de6fc.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/db6fb97d-8ccf-42f0-8246-448735f4fedd.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/3c28cef2-ee59-44c8-bdaf-d792b8849a57.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/43d9ebf0-82c2-4ca3-ae86-ec4687581e23.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/9e92bd05-1d98-4c27-8f5c-8fdfb8fe414b.vsidx
