################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/481e562f-835d-479a-b496-5d8e038fcc1e.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/14d157bf-f252-418a-90ee-62859e737443.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/1afb5c92-4d5d-4188-bc2d-93be18e08167.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/4c5172bd-3423-41e8-845f-b0b4f0d2a91e.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/aa390183-0875-40ca-98f7-41f6679de6fc.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/db6fb97d-8ccf-42f0-8246-448735f4fedd.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/3c28cef2-ee59-44c8-bdaf-d792b8849a57.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/43d9ebf0-82c2-4ca3-ae86-ec4687581e23.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/9e92bd05-1d98-4c27-8f5c-8fdfb8fe414b.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/22a8c1c0-6335-4d8a-8d99-c32f81c3e9b8.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/c1c3eb1b-b073-456c-8b9c-d001520f9ffe.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/ea7cfb72-7687-40c4-9fff-100eb8d13d2d.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/3cddda37-80bc-4905-8654-f3c396e1ea49.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/963d8cf5-11bb-4f7d-8524-6a785b37a035.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/3291e89e-7f14-47c4-9422-868216f71b22.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/b3e8aefc-e953-4745-b764-06d5212b76c8.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/dbda9422-cf27-42b6-b3f1-aebccc7774f1.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/dbda9422-cf27-42b6-b3f1-aebccc7774f1.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/3b26bba7-e2ca-4ff7-b7e7-099d28fa7e0b.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/1aff2b79-e943-49da-8a61-fc00c315c040.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/5732aa2c-dbb0-4955-8bfc-926f52def38e.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/28c6ce25-f889-4fce-aa5b-1b399ce2e935.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/c2e630f6-653e-4a30-ac27-eb36ed157cf1.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/d8e3e034-3c5c-44b5-9b96-639cf12943f3.vsidx
/.gitignore
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/06326a61-a656-4cd5-9543-026a48b4c4c7.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/172e0872-8cbf-4dbe-9f7d-3a26e7748213.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/33349f5d-ee2d-4192-b812-257ca9bf0bfd.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/58ed1840-7bab-4bcf-b919-3a4a54629653.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/8e1a4837-cf60-44dd-a2a9-ccd01c54a3e2.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/9ec156d3-4498-44a5-ac6f-1d803db9f8c3.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/ae24306c-a1c9-4ce6-8848-7f8250262273.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/d04bed36-eb14-40bb-9dd6-962cf8a04e6c.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/dfa1018b-4397-4383-9a73-5f3779e91659.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/ebc4b7aa-7bb5-449b-b401-9d8662d10324.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/d8d380ea-9a66-4687-a26a-8ea1ebb5d425.vsidx
/NC_Grupo57/.vs/NC_Grupo57/v17/.suo
/NC_Grupo57/.vs/NC_Grupo57/v17/DocumentLayout.backup.json
/NC_Grupo57/.vs/NC_Grupo57/v17/DocumentLayout.json
/NC_Grupo57/CapaNegocio/bin/Debug/CapaNegocio.dll
/NC_Grupo57/CapaNegocio/bin/Debug/CapaNegocio.pdb
/NC_Grupo57/CapaNegocio/obj/Debug/CapaNegocio.dll
/NC_Grupo57/CapaNegocio/obj/Debug/CapaNegocio.pdb
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/47ffa9fd-e509-45f9-beaf-5bc47e5abc1a.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/9c6ee79b-d376-4a97-81af-e9fe3420063c.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/e027714f-a18e-456e-a80d-370bb09c4fdc.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/1ed3dd93-10f3-4dd7-9f31-f00678baf287.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/dc9aab2d-3975-4090-b3ab-7c1099cd37cd.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/94b10186-9ef6-48ae-b52b-1712d11f447d.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/e0257415-1af8-4335-82b6-804a5d01653a.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/622aed85-9785-4cab-949f-477d7df916fc.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/214edfe6-51af-4d85-aea7-10a0f70eb766.vsidx
/NC_Grupo57/.vs/NC_Grupo57/FileContentIndex/0cee7de7-65df-4a7b-94e1-21bbf501e357.vsidx
