* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


body {
    background-color: #F2EFEB;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header__menu {
    max-width: 1440px;
    margin: 0 auto;
}

.header__back {
    padding: 32px 0;
    background-color: #F2EFEB;
    border-bottom: 2px solid #000;
    height: 80px;
}

.menu--container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    position: relative;
    top: -240px;
    z-index: 1001;
}

.nav__item {
    position: relative;
    float: left;
}

.nav__item {
    font-size: 1.2em;
    color: #00584F;
    display: block;
}

    .nav__item:hover {
        color: aqua;
    }

#menu {
    display: none;
}

.label--Eduflow {
    top: -170px;
    left: -250px;
}

.label--Aboutus {
    top: -193px;
    left: -160px;
}

.button--signin {
    top: -235px;
    left: -50px;
    border: 2px solid #000;
    border-radius: 25px;
    padding: 15px 30px;
    color: #F2EFEB;
    background-color: #00584F;
}

.desktop {
    max-width: 100%;
    max-height: 1020px;
    background-color: #F2EFEB;
}

.desktop__segundo {
    max-width: 100%;
    min-height: 1020px;
    background-color: #00584F;
}

.desktop__tercero {
    max-width: 100%;
    min-height: 1020px;
    background-color: #F2EFEB;
}

.desktop__cuarto {
    max-width: 100%;
    min-height: 1020px;
    background-color: #00584F;
}

.desktop__footer {
    background-color: #252526;
    max-width: 100%;
    min-height: 688px;
}

.container__h1 {
    position: relative;
    top: 150px;
    left: 200px;
    width: 602px;
    height: 167px;
}

.container__p {
    position: relative;
    top: 230px;
    left: 200px;
    width: 643px;
    height: 139px;
}

.p--containerScreen4 {
    width: 400px;
    position: relative;
    top: 150px;
    left: 900px;
}

.desktop__h1 {
    font-size: 3.9em;
    font-weight: bold;
}

.container__h2 {
    position: relative;
    top: 30px;
    left: 350px;
    width: 300px;
}

.h2--titulo {
    color: #F2EFEB;
    font-size: 6em;
    text-align: center;
}

.desktop__p {
    font-size: 2em;
}

.p--texto2screen {
    color: #F2EFEB;
    text-align: center;
    font-size: 2.4em;
}

.p--textoScreen4 {
    font-size: 3.4em;
    text-align: center;
    text-transform: capitalize;
    color: #F2EFEB;
}

.container__button {
    position: relative;
    top: 300px;
    left: 230px;
    width: 509px;
    height: 96px;
    text-align: center;
}

.desktop__button {
    padding: 25PX 85px;
    background-color: #A65526;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.5em;
    letter-spacing: 7px;
    color: #F2EFEB;
}

.desktop__imagen {
    position: relative;
    top: -250px;
    left: 1000px;
    width: 478px;
    height: 588px;
}

.desktop--imagen3 {
    position: relative;
    top: 550px;
    left: -900px;
}

.imagen--segundaTercerScreen {
    position: relative;
    top: -253px;
    left: -450px;
}

.imagen--terceraTercerScreen {
    position: relative;
    top: -1057px;
    left: 0px;
}

.imagen--clase3 {
    width: 409px;
    height: 800px;
}

.imagen--containerScreen4 {
    position: relative;
    top: 350px;
    left: -900px;
}

.container--segundaPantalla {
    position: relative;
    top: 100px;
    left: 250px;
}

.container--terceraPantalla {
    position: relative;
    top: -200px;
}

.container__p2screen {
    position: relative;
    top: 270px;
}
