
@{
    ViewBag.Title = "PrincipalProfesor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/styles/StyPpalProfesor.css")
}
<!--
    En este HTML era que de alguna forma aparezcan las materias que dicta el profesor, como en la de 
    admin puede ser un desplegable, botones, solapas o lo que mejor les parezca y un listado el cual se
    va a llenar desde el back con el listado de alumnos que tiene en esa materia y cada fial debería tener
    un botón con un + o algo así ya que con ese botón vamos a hacer desde el back que el profesor pueda
    cargar notas a cada alumno. originalmente la idea
    era que cada profesor pueda generar eventos para calificar, como por ejemplo exámenes, trabajos prácticos
    y demás pero no creo que podamos llegar con los tiempso para poder hacerlo. Por lo que desde el back, en
    principio vamos a hardcodear que son X cantidad de notas al año. 
-->
<h2>PrincipalProfesor</h2>

