
@{
    ViewBag.Title = "register";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @Styles.Render("~/styles/StyRegister.css")
}

<body>
    <div class="selector">
        <h2>Escoge tu Rol</h2>
        <div class="div__selector div--alumno"> <a class="div__link link--alumno" href="@Url.Action("RegistroTutor")">Alumno</a></div>
        <div class="div__selector div--profesor"><a class="div__link link--profesor" href="@Url.Action("RegistroTutor")">profesor</a></div>
        <div class="div__selector div--tutor"><a class="div__link div--tutor" href="@Url.Action("RegistroTutor")">tutor</a></div>
    </div>

</body>


